<main>
	
	<h1>Hello {{firstName}}!</h1>
	
	<div class="charts">
		<div class="chart sales-chart">chart 1
		</div>
		
		<div class="chart reports-chart">chart 2
		</div>
	</div>
	
	<div class="lists">
		<list *ngIf="tasks" [listItems]="tasks"  listTitle="Tasks" type="tasks" limit=4></list>
		<list *ngIf="messages" [listItems]="messages"  listTitle="Messages" type="messages" limit=4></list>
		<list *ngIf="activities" [listItems]="activities"  listTitle="Activities" type="activities" limit=4></list>
	</div>
	
</main>